  @keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
   @keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
  opacity: 1; /* Adjust for readability */
  pointer-events: none;
}
  @font-face {
  font-family: 'CaviarDreams';
  src: url(CaviarDreams_Bold.ttf);
}
body {
  font-size: 28px;
  background-image: url(background.jpg);
  height: auto;
  width: auto;
  background-size: 1500px;
  font-family: 'CaviarDreams', sans-serif;
  color: aliceblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: rgba(48, 48, 48, 0.567);
box-shadow: 0 8px 36px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
font-size: medium;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideDown 0.7s ease-out forwards;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(127, 164, 223, 0.52);
}

.active {
  background-color: rgba(60, 203, 255, 0.816);
}
h3 {
      font-size: 2.5rem;
      text-align: center;
      font-family: 'CaviarDreams', sans-serif;
      
    }

h1 {
      font-size: medium;
      text-align: center;
      font-family: 'CaviarDreams', sans-serif;
      
    }

h2 {
      font-size: large;
      text-align: center;
      font-family: 'CaviarDreams', sans-serif;
      
    }

footer {
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  color: #333;
  text-align: center;
  padding: 0.3rem 0;   /* Reduced padding */
  font-size: 0.85rem;  /* Smaller text */
    opacity: 0;
  transform: translateY(50px); /* Start lower, slide up */
  animation: slideUp 0.7s ease-out forwards;
}